<html>
<head>
  <title>Canvas</title>
  <meta charset="utf-8"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="/stylesheets/home.css" rel="stylesheet">
  <script src="/javascripts/application.js" rel="text/javascript"></script>
  </head>
</head>
<body>

<%= yield %>
</body>
</html>
